<!DOCTYPE html>
<html lang="en">

<head>
    <title>test</title>
</head>

<body>
    <h1>用户登录</h1>
    <h3>
        <span>公告:</span>
        <span>{{.notice}}}</span>
    </h3>
    <div>
        <input type="text">
        <input type="password">
        <button>登录</button>
    </div>
</body>
</html>